.grocerylist i{
    color: orange;
    
}
.grocerylist{
    margin-top: 10px;
}

/* .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
} */